*
!.gitignore
!build.sh
!wayland/
!wayland/**/
!wayland/**/*.odin
!wayland/**/*.xml
!wayland/client/generator.py
!example/
!example/**/
!example/**/*.odin
!vulkan_integration/
!vulkan_integration/**
!README.md
