*
!.gitignore
!build.sh
!client/
!client/**/
!client/**/*.odin
!wayland/
!wayland/**/
!wayland/**/*.odin
!wayland/**/*.xml
!wayland/client/generator.py
!example/
!example/**/
!example/**/*.odin
!scanner/
!scanner/**
!vulkan_integration/
!vulkan_integration/**
!README.md
